MODELS_DIR=${HOME}/.cache/huggingface
EMBEDDINGS_MODEL_REPO=Qwen/Qwen3-Embedding-4B-GGUF
LLM_INSTRUCT_MODEL_REPO=ggml-org/gpt-oss-20b-GGUF
LLM_REASONING_MODEL_REPO=mistralai/Ministral-3-14B-Reasoning-2512
